$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;

$colors: (
  "aqua": var(--aqua),
  "blue": var(--blue),
  "navy": var(--navy),
  "teal": var(--teal),
  "green": var(--green),
  "olive": var(--olive),
  "lime": var(--lime),
  "yellow": var(--yellow),
  "orange": var(--orange),
  "red": var(--red),
  "fuchsia": var(--fuchsia),
  "purple": var(--purple),
  "maroon": var(--maroon),
  "white": var(--white),
  "silver": var(--silver),
  "gray": var(--gray),
  "black": var(--black),
);

:root {
  --aqua: #7fdbff;
  --blue: #0074d9;
  --navy: #001f3f;
  --teal: #39cccc;
  --green: #2ecc40;
  --olive: #3d9970;
  --lime: #01ff70;

  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;

  --white: #ffffff;
  --silver: #dddddd;
  --gray: #aaaaaa;
  --black: #111111;
}
