$utilities: (
  "position": (
    property: position,
    class: null,
    values: (
      static: static,
      fixed: fixed,
      absolute: absolute,
      relative: relative,
      sticky: sticky,
    ),
  ),
);
